# hidden files by win/mac
.DS_STORE
Modules/ITD/Week 1/Slides/~$ITD_01_Augmented Reality.pptx
Modules/ITD/Week 1/Slides/~$ITD_00_ITD Introduction.pptx
Modules/DDA/Week08/lib/my/config.js
Modules/DDA/Week08/lib/my/config-only.js
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-8_5_0.so
Library/Artifacts/24/247d397de694f13bde5bce0671607a37
Library/Artifacts/24/247d97aa05134d64a86829d92d4be0c3
